/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Disable scrolling */
html, body {height: 100%; overflow: hidden}

#container {
	display: flex;
}

#side-menu-interactions-container {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
#help-text {
	height: 300px;
	overflow-y: scroll;
	box-sizing: border-box;
}

#side-menu-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
}